body {
  background-color: #dcd0ff;
}
h1{
    color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 2.5em;
}

#flower ellipse {
    fill: purple;
}

#flower circle {
    fill: gold;
}

#flower {
    transition: transform 0.6s ease;
}

#flower:hover {
    transform: rotate(15deg) scale(1.1);
}